In [1]:
print("Hello, World!")

Hello, World!

In [3]:
import sys
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 08:22:19) [Clang 14.0.6 ]

In [5]:
if 5 > 2: 
    print("Five is greater than two!")

Five is greater than two!

In [7]:
if 5>2: 
    print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (1877734054.py, line 3)

In [9]:
x=5
y="hello"
print(x)
print(y)

5
hello

In [13]:
#this is a comment
print("hello world!")

hello world!

In [15]:
print("Hello, world!") #this is a comment

Hello, world!

In [17]:
#print("Hello, world!")

In [19]:
print("Hello, world!")

Hello, world!

In [21]:
#this is a comment
#written in more than 
#just one line
print("Hello, world!")

Hello, world!

In [27]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, world!")

Hello, world!

In [29]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [31]:
x = 4 #type int
x = "Hello" #now type string
print(x)

Hello

In [33]:
x=str(3)
y=int(3)
z=float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [35]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [37]:
x = "John"
#is the same as
x = 'John'

In [39]:
a = 4
A = "John"
#A will not overwrite a

In [41]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [43]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

In [45]:
x, y, z = "Banana", "Orange", "Apple"
print(x)
print(y)
print(z)

Banana
Orange
Apple

In [47]:
x = y = z = "Apple"
print(x)
print(y)
print(z)

Apple
Apple
Apple

In [49]:
fruits = ['apple', 'orange', 'banana']
x, y, z = fruits
print(x)
print(y)
print(z)

apple
orange
banana

In [51]:
x = "Python is awesome"
print(x)

Python is awesome

In [53]:
x = 'python'
y = 'is'
z = 'awesome'
print(x,y,z)

python is awesome

In [57]:
x = 'python '
y = 'is '
z = 'awesome'
print(x+y+z)

python is awesome

In [59]:
x = 5
y = 10
print(x+y)

15

In [61]:
x = 5
y = 'John'
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [63]:
x = 5
y = 'John'
print (x, y)

5 John

In [65]:
x = 'awesome'
def myfunc():
    print("python is "+x)
myfunc()

python is awesome

In [67]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [69]:
def func():
    global x
    x = 'awesome'
func()
print('python is', x)

python is awesome

In [71]:
x = 'awesome'
def func():
    global x
    x = 'fantastic'
func()
print("python is", x)

python is fantastic

In [73]:
x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple

In [75]:
x = {"apple", "banana", "cherry"}	#set	
x = frozenset({"apple", "banana", "cherry"}) #frozenset

In [79]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [83]:
x = 1
y = 35656222554887711
z = -3255522
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [85]:
x = 1.10
y = 1.0
z = -35.59
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [87]:
x = 35e3
y = 12E4
z = -87.7e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [89]:
x = 3+5j
y = 5j
z = -5j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [91]:
x = 5
y = 3.2
z = 5j
a = float(x)
b = int(y)
c = complex(x)
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'int'>
<class 'complex'>

In [93]:
import random 
print (random.randrange(1, 10))

6

In [95]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [97]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [99]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [101]:
print("Hello")
print('Hello')

Hello
Hello

In [103]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [105]:
a = "Hello"
print(a)

Hello

In [107]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [109]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [111]:
a = "Hello, World!"
print(a[1])

e

In [113]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [115]:
a = "Hello, World!"
print(len(a))

13

In [2]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [4]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [6]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [8]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [10]:
b = "Hello, World!"
print(b[2:5])

llo

In [12]:
#Get the characters from the start to position 5 (not included)
b = "Hello, World!"
print(b[:5])

Hello

In [14]:
#Get the characters from position 2, and all the way to the end:
b = "Hello, World!"
print(b[2:])

llo, World!

In [16]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [18]:
a = 'Hello, World!'
print(a.upper())

HELLO, WORLD!

In [20]:
a = 'Hello, world!'
print(a.lower())

hello, world!

In [22]:
a = ' Hello, world! '
print(a.strip())

Hello, world!

In [24]:
a = 'Hello, World!'
print(a.replace('H', 'J'))

Jello, World!

In [26]:
a = 'Hello, world!'
print(a.split(','))

['Hello', ' world!']

In [28]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [30]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [32]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [36]:
age = 4
txt=f"I am {age}"
print(txt)

I am 4

In [38]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [42]:
price = 67.3894
txt=f"Price is {price:.2f}"
print(txt)

Price is 67.39

In [44]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [46]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (4106093343.py, line 1)

In [48]:
txt = "We are the so-called \"Vikings\" from the north."